body{
    margin: 0;
    padding: 0;
    height: 500vh;
    margin: 100px;
}

header{
    margin: -100px;
}
section{
    margin-top: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



article{
    background-color: antiquewhite;
    border: solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

}
article:nth-of-type(3){
    margin-right: 0 !important;
    

}




img:nth-of-type(1){
    width: 100% ;
}


@media only screen and (max-width: 92.313rem) {
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    article{
        background-color: antiquewhite;
        border: solid;
        margin-top: 20px;
        width: 100%;
    }
    article img:nth-last-of-type(1){
        height: 20.313rem;
}
    article img:nth-last-of-type(2){
        height: 320.313rem;
}
    article img:nth-last-of-type(3){
        height: 20.313rem;
}

    article{
        margin-right: 0 !important;
        

    }

img:nth-of-type(1){
    width: auto ;
}

    #banniere{
        width: 100%;
    }

    }